body {
    background-color: #383838;
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.requests {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-request {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.get-request__item {
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    
    background-image: linear-gradient(to right, #df7165 0%, #000000  51%, #a0a0a0  100%);
    margin: 10px;
    margin-top: 15px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;

}

.get-request__item:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.get-request__item {
    background-color: #777;
    color: white;
    cursor: pointer;
    /**padding: 18px;**/
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.post-request {
    display: none;
}

.post-request.active {
    display: block;
    color: #FFF;
    background-color: #a0a0a0;
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    padding: 10px;
}

.post-request__item {
    display: none;
}

.post-request__item.display {
    display: block;
    color: #FFF;
    background-color: #888888;
    border-radius: 20px;
    border: 3px solid #b2c6ff;
    padding: 7px;
    margin: 13px;
}

.btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

.btn--clear, img {
    width: 30px;
    height: 30px;
}

/*.posts {
}
.photos {
}
.users {
}
.albums {
}
.comments {
}
*/

         
 